{
  "env": {
    "build": {
      "presets": [["env", { "exclude": ["transform-regenerator"] }], "flow"],
      "plugins": ["transform-class-properties"]
    },

    "development": {
      "presets": [
        ["env", { "targets": {node: "8"} }],
        "flow",
        "babel-preset-power-assert"
      ],
      "plugins": ["transform-class-properties"]
    }
  }
}
