{
  "env": {
    "build": {
      "presets": ["env", "flow"],
      "plugins": ["transform-strip-jsnext"]
    },

    "development": {
      "presets": [
        ["env", { "targets": {node: "8"} }],
        "flow"
      ]
    }
  }
}
