{
    "include": [
      "src/**/*.ts"
    ],
    "extension": [
      ".ts"
    ],
    "require": [
      "ts-node/register"
    ],
    "reporter": [
      "lcov",
      "text",
      "text-summary",
      "html"
    ],
    "sourceMap": true
}